body {
    color: #000;
    background: #ffd;
    font-size: 120%;
    line-height: 120%;
}

h1 { text-align: center; }
div.navigator {
    margin-left: 2em;
    margin-right: 2em;
    padding: 1ex;
    background: #fff;
}
div div.left {
    float: left;
    background: #cfc;
}
div div.right {
    float: right;
    background: #cfc;
}
div div.middle {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
li { margin:0 20px 20px 0; }

.right { text-align: right; }
